*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

img {
  width: 100%;
  height: 100%;
}

/* Typography */
h1 {
  margin-top: 0;
  font-size: 3rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  @media (min-width: 600px) {
    font-size: 4rem;
  }
}

p {
  margin-top: 0;
  font-size: 1.2rem;
}

h1,
p,
.btn {
  color: #ffffff;
}

/* input, buttons */

label,
.btn {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.btn {
  background: #5200ff;
  border: none;
  width: 100%;
  padding: 1em;
  margin-top: 2.5em;
  @media (min-width: 600px) {
    display: inline-block;
    width: 187px;
    margin-left: 1em;
    @media (min-width: 846px) {
      margin-left: 4em;
    }
  }
}

input {
  display: block;
  margin: 1em 0;
  border: 1px solid #c7c7c7;
  background: #ededed;
  padding: 1em;
  width: 100%;
}

/* main */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  @media (min-width: 600px) {
    flex-direction: column;
    width: 100vw;
    @media (min-width: 846px) {
      flex-direction: row;
    }
  }
}

.background::before {
  content: "";
  position: absolute;
  background: url("./images/background.jpg");
  background-size: cover;
  opacity: 0.22;
  height: 100%;
  width: 100%;
  @media (min-width: 600px) {
    background-size: contain;
  }
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #5200ff;
  height: 100%;

  @media (min-width: 600px) {
    background-size: cover;
    @media (min-width: 846px) {
      width: 100vw;
    }
  }
}

.background .title,
.background .paragraph {
  width: 70%;
  text-align: center;
}

/* form */
.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  height: 100%;
  border: 1px solid #5200ff;
  margin: 3em 2em;

  @media (min-width: 600px) {
    flex-direction: column;
    @media (min-width: 846px) {
      margin: 0;
      width: 100vw;
    }
  }
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  @media (min-width: 600px) {
    flex-direction: row;
    justify-content: center;
    @media (min-width: 846px) {
      padding: 3.5em;
      flex-direction: column;
    }
  }
}

.form-input,
.form-email {
  width: 100%;
  @media (min-width: 600px) {
    padding: 1em;
    @media (min-width: 846px) {
      padding: 0;
    }
  }
}
/* .label-input {
}
.label-email {
  margin: 0 0;
  width: 45%;
  @media (min-width: 600px) {
  }
} */
