*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* typography */

h1 {
  margin: 0;
  font-size: 4rem;
  font-family: "Bebas Neue", sans-serif;
  line-height: 1.2;
}

p {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0;
}

label {
  display: block;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.75em;
}

input {
  width: 100%;
  margin-bottom: 0.75em;
  background: #ededed;
  border: 1px solid #c7c7c7;
  padding: 1em;
  margin-bottom: 2.5em;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  width: 100%;
  background: #5200ff;
  border: none;
  color: #fff;
  padding: 0.75em;
  cursor: pointer;

  @media (min-width: 770px) {
    width: auto;
    padding: 1em 2.5em;
  }
}

.left-up,
.right-down {
  padding: 6.75em 8vw;

  @media (min-width: 1260px) {
    flex-basis: 0;
    flex-grow: 1;
    display: grid;
    place-items: center;
  }
}

.left-up {
  background: #5200ff;
  color: #fff;
  text-align: center;
  position: relative;

  @media (min-width: 1260px) {
    text-align: right;
  }
}

.left-up::before {
  content: "";
  background: url(./images/background.jpg);
  background-size: cover;
  background-position: 100%;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.content {
  position: relative;
}

@media (min-width: 770px) {
  .form-content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 2em;
  }
}

@media (min-width: 1260px) {
  body {
    display: flex;
    height: 100vh;
    width: 100vw;
  }

  .form-content {
    display: grid;
    grid-template-columns: repeat(1, auto);
    width: 100%;
  }
}
