*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* typography */

h1 {
  margin: 0;
  font-size: 4rem;
  line-height: 1.2;
  font-family: "Bebas Neue", sans-serif;
}

p {
  font-size: 1.25rem;
  font-weight: 500;
}

label {
  display: block;
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 0.77em;
}

input {
  width: 100%;
  background: #ededed;
  border: 1px solid #c7c7c7;
  padding: 0.75em;
  outline: none;
  margin-bottom: 2.5em;
}

.btn {
  font-weight: 500;
  width: 100%;
  background: #5200ff;
  color: #fff;
  border: none;
  font-size: 1.125rem;
  padding: 0.8em;
}

.left-up,
.right-down {
  border: 1px solid #5200ff;
  padding: 6.75em 8vw;
}

.left-up {
  background: #5200ff;
  color: #fff;
  text-align: center;
  position: relative;
}

.left-up::before {
  content: "";
  background: url(./images/background.jpg);
  background-size: cover;
  background-position: 100%;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.content {
  position: relative;
}
